<div class="post">
  <div class="post-author">
    <div class="avatar avatar-<%= rand(1..5) %>"></div>
    <div><%= post.user.username %></div>
  </div>
  <div class="post-body">
    <span><%= post.body %><br/><%= post.id %></span>
  </div>

  <div class="post-actions">
    <!-- Like button and counter -->
    <%= render partial: "posts/like", locals: { post: post }  %>
    <!-- Comments counter -->
    <div class="post-actions-comments">
        <div id="post-<%= post.id %>-comments-count">
          <%= pluralize(post.comments.count, "comment") %>
        </div>
    </div>
  </div>

  <div class="post-comments">
    <div id="post-<%= post.id %>-comment-form">
      <%= render partial: "comments/form", locals: { post: post }  %>
    </div>
    <div id="post-<%= post.id %>-comments-list">
      <%= render partial: "comments/list", locals: { post: post } %>
    </div>
  </div>
</div>
